<div class="register-login">
    <form asp-controller="Account" asp-action="Login">
        <input type="text" name="username" placeholder="Username" autocomplete="off" />
        <br /> <br />
        <input type="password" name="password" placeholder="Password" autocomplete="off" />
        <br /> <br />
        <input type="submit" value="Submit" />
    </form>
</div>

<br />

<div class="register-link">
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>