<div class="register-login">
    <form asp-controller="Account" asp-action="Register">
        <input type="text" name="username" placeholder="Username" autocomplete="off"/>
        <br /> <br />
        <input type="password" name="password" placeholder="Password" autocomplete="off"/>
        <br /> <br />
        <input type="submit" value="Submit" />
    </form>
</div>